<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/thymeleaf/flower/main/head :: htmlhead">
	
</head>
	<link rel="stylesheet" type="text/css" th:href="@{/flower/css/style-shop.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flower/css/style-res-shop.css}">
<body>
	
<header class="container" id="header-v3" th:replace="/thymeleaf/flower/main/head::header">

</header>
<main>
	<div class="content-search">
		<div class="container container-100">
			<i class="far fa-times-circle" id="close-search"></i>
		    <h3 class="text-center">what are your looking for ?</h3>
		    <form method="get" action="/search" role="search" style="position: relative;">
		    	<input type="text" class="form-control control-search" value="" autocomplete="off" placeholder="Enter Search ..." aria-label="SEARCH" name="q">
		    	<button class="button_search" type="submit">search</button>
		    </form>
		</div>
	</div>
	<div class="container banner">
		<figure id="banner-figure"><a href="#"><img th:src="@{/flower/img/banner-shop.jpg}" class="img-responsive" alt="img-holiwood"></a></figure>
		<div class="text-banner">
			<h1>Tulips<br>Collection</h1>
			<p>SALE UP TO 20% OFF</p>
			<a href="#">Shop now</a>
		</div>
	</div>
	<div class="container content">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<form class="form-group">
					<input type="text" name="input-find" placeholder="Enter your search" class="input-lg">
					<button type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 menu-breadcrumb">
				<ul class="breadcrumb">
  					<li><a href="homev3.html">Home</a></li>
  					<li><a href="#">Blogs</a></li>
				</ul>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-blog">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 product-blog">
					<a href="http://landing.engotheme.com/html/jenstore/demo/blog-post.html"><img th:src="@{/flower/img/blog-1.jpg}" class="img-responsive" alt="img-holiwood"></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 title-blog">
					<h2><a href="http://landing.engotheme.com/html/jenstore/demo/blog-post.html">Choose for yourself the Flobal chiffon dress</a></h2>
				<div class="time-blog">
					<span class="time"><i class="far fa-calendar-alt"></i><span>May, 12 2018</span></span>
					<span class="time"><i class="far fa-edit"></i><span>Pixel-Creative</span></span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec augue scelerisque, aliquet eros in, pulvinar sem. Aliquam erat volutpat. Nulla sit amet felis quis felis sodales suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris euismod nunc diam, quis suscipit libero maximus a. Donec quis mauris congue, pharetra diam sed, semper magna. Nullam rhoncus urna sed consectetur eleifend.</p>
				<a href="#">Read more</a>
				</div>
				<!--  -->
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 product-blog">
					<a href="#"><img th:src="@{/flower/img/blog-2.jpg}" class="img-responsive" alt="img-holiwood"></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 title-blog">
					<h2><a href="#">Choose for yourself the Flobal chiffon dress</a></h2>
				<div class="time-blog">
					<span class="time"><i class="far fa-calendar-alt"></i><span>May, 12 2018</span></span>
					<span class="time"><i class="far fa-edit"></i><span>Pixel-Creative</span></span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec augue scelerisque, aliquet eros in, pulvinar sem. Aliquam erat volutpat. Nulla sit amet felis quis felis sodales suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris euismod nunc diam, quis suscipit libero maximus a. Donec quis mauris congue, pharetra diam sed, semper magna. Nullam rhoncus urna sed consectetur eleifend.</p>
				<a href="#">Read more</a>
				</div>
				<!--  -->
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 product-blog">
					<a href="#"><img th:src="@{/flower/img/blog-3.jpg}" class="img-responsive" alt="img-holiwood"></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 title-blog">
					<h2><a href="#">Choose for yourself the Flobal chiffon dress</a></h2>
				<div class="time-blog">
					<span class="time"><i class="far fa-calendar-alt"></i><span>May, 12 2018</span></span>
					<span class="time"><i class="far fa-edit"></i><span>Pixel-Creative</span></span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec augue scelerisque, aliquet eros in, pulvinar sem. Aliquam erat volutpat. Nulla sit amet felis quis felis sodales suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris euismod nunc diam, quis suscipit libero maximus a. Donec quis mauris congue, pharetra diam sed, semper magna. Nullam rhoncus urna sed consectetur eleifend.</p>
				<a href="#">Read more</a>
				</div>
				<!--  -->
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 product-blog">
					<a href="#"><img th:src="@{/flower/img/blog-4.jpg}" class="img-responsive" alt="img-holiwood"></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 title-blog">
					<h2><a href="#">Choose for yourself the Flobal chiffon dress</a></h2>
				<div class="time-blog">
					<span class="time"><i class="far fa-calendar-alt"></i><span>May, 12 2018</span></span>
					<span class="time"><i class="far fa-edit"></i><span>Pixel-Creative</span></span>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec augue scelerisque, aliquet eros in, pulvinar sem. Aliquam erat volutpat. Nulla sit amet felis quis felis sodales suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris euismod nunc diam, quis suscipit libero maximus a. Donec quis mauris congue, pharetra diam sed, semper magna. Nullam rhoncus urna sed consectetur eleifend.</p>
				<a href="#">Read more</a>
				</div>
				<!--  -->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pagi">
					<ul class="pagination">
						<li><a href="#">01</a></li>
						<li><a href="#">02</a></li>
						<li><a href="#">03</a></li>
						<li><a href="#">04</a></li>
						<li><a href="#"><img th:src="@{/flower/img/Next.png}" class="img-responsive" alt="img-holiwood"></a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<div class="info-footer" th:replace="/thymeleaf/flower/main/footer::infoFooter">
		
	</div>
</main>
<footer th:replace="/thymeleaf/flower/main/footer::footer">
	
</footer>
<!-- boostrap & jquery -->
	<script th:src="@{/flower/js/jquery.min_af.js}"></script>
	<script th:src="@{/flower/js/bootstrap.min_0028.js}"></script>
	
	<!-- js file -->
	<script th:src="@{/flower/js/function-shop.js}"></script>
	<script th:src="@{/flower/js/function-back-top.js}"></script>
	<script th:src="@{/flower/js/function-sidebar.js}"></script>
	<script th:src="@{/flower/js/funtion-header-v3.js}"></script>
	<script th:src="@{/flower/js/function-search-v2.js}"></script>
</body>
</html>
